.new-form {
    padding: 20px;
}

.network-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px !important;
}

.network-input {
    flex-grow: 1;
}

.env-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px !important;
}

.env-input {
    flex-grow: 1;
    margin: 0 !important;
}

.port-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px !important;
}

.port-input {
    flex-grow: 1;
    margin: 0 !important;
}

.port-arrow {
    padding-left: 30px;
    padding-right: 35px;
}

.delete-network {
    margin-left: 10px !important;
}

.delete-env {
    margin-left: 10px !important;
}

.delete-port {
    margin-left: 10px !important;
}

.comp-form {
    margin-top: 10px;
    padding: 10px;
    border: solid 1px lightgray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    flex-grow: 1;
}

.add-button {
    margin-left: 10px !important;
}

.comp-wrapper {
    display: flex;
    align-items: center;
}

.delete-component {
    margin-left: 10px !important;
}

.custom-label {
    margin: 0 !important;
    display: inherit !important;
}

.new-form label {
    display: inline-block !important;
}

.file-form {
    padding: 20px;
}
.file-form button {
    display: block !important;
    margin-top: 10px !important;
}
